html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*::after{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
}

img{
    max-width: 100%;
}

@font-face {
    font-family: 'fuente';
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: 'fuente2';
    src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

/*.container{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}*/

.attribution {
   font-size: 0.688rem;
   text-align: center;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}

body{
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;       
  margin: 0; 
  background-color: #F3E5D8;
}

.container{
    margin-top: 0rem;
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100%;  
    background-color: #ffffff;
    border-radius: 2rem;
}


@media (min-width:480px) {
    .container{
        width:55%;
        height: 100%;
        padding: 1.875rem;
        margin-top: 10rem;
        margin-bottom: 15rem;
    }
    section.title p{
        font-family: 'fuente2', sans-serif;
        font-weight: 300;
        font-size: 1.9rem;
    }
}

.container_header{
    display: flex;
    width: 100%;
    height: 30rem;
    flex-direction:row;
}

.container_header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}
.title{
    width: 100%;
    height: 100%;
    padding: 1.875rem;
}
.title h1{
    font-family: 'fuente', sans-serif;
    font-weight: 400;
    font-size: 3.7rem;
    margin-bottom: 1rem;
}
.title p{
    font-family: 'fuente2', sans-serif;
    font-weight: 300;
    font-size: 1.95rem;
    margin: 0;
}
.preparation{
    width: 100%;
    background-color: #FFF7FC;
}
.preparation h3{
    color: #632D44;
    font-family: 'fuente2', sans-serif;
    font-weight: bold;
}
.preparation ul{
    padding-left: 1rem;
}
.preparation ul li{
    list-style-position: inside;
    color:#6D6660;
    font-family: 'fuente2', sans-serif;
    font-weight: 400;
}
.preparation li::marker{
    color:#632D44;
}

.preparation li{
    text-align: justify;
    line-height: 2;
}

.preparation li span{
   font-family: 'fuente2', sans-serif;
   line-height: 2;
   text-align: justify;
   font-weight: bold;
   padding-left: 0.9rem;
}
.nutrition,
.ingredients {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.nutrition h2,
.ingredients h2,
.instructions h2{
    font-family: 'fuente', sans-serif;
    font-weight: lighter;
    color:#814832;
    margin-bottom: 0.438rem;
}
.ingredients ul {
    margin: 0px;
    padding-left:1.563rem;
}
.ingredients ul li{
    list-style-position:outside;
    color:#814832;
    padding-left: 0.75rem;
}
.ingredients li span{
    color: #000000;
    line-height: 2;
    font-family: 'fuente2', sans-serif;
    font-weight: 300;
}
hr{
   width: 100%;
   background-color: #814832; 
   margin-top: 1.75rem;
}
.instructions ol{
    margin: 0;
    padding-left: 2.56rem;
    padding-top: 1rem;
    margin-bottom: 1.5rem;
}
.instructions ol li{
    padding-left: 1rem;
}

.instructions ol li::marker{
    color: #814832;
    font-weight: bold;
}
.instructions li span{
    color:#6D6660;
    font-family: 'fuente2', sans-serif;
    font-weight: 600;
    margin-left: 0rem;
}
.instructions li span,
.instructions li p {
  display: inline;
  text-align: justify;
  line-height: 2;
  font-family: 'fuente2', sans-serif;
  font-size: 1.9rem;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse; /* une los bordes */
  font-family: Arial, sans-serif;
}



.nutrition p{
   font-family: 'fuente2', sans-serif;
}

.nutrition-table td{
    font-family: 'fuente2', sans-serif;
}


.nutrition-table th,
.nutrition-table td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #6D6660; /* línea debajo */
}

.nutrition-table tr:last-child td {
  border-bottom: none;
}

.nutrition-table .td2{
    color: #814832;
    font-family: 'fuente2', sans-serif;
    font-weight: bold;
}



/*
@media (min-width:768px){
    .dos-columnas{
        display: grid;
        grid-template-columns: 2;
        column-gap: 5rem;
    }
}*/

*.attribution{
    margin-top: 2rem;
}